__pycache__/
*.pyc
.venv/
env/
.vscode/
.idea/
.DS_Store
Thumbs.db

data/
datasets/
raw_data/
processed_data/
checkpoints/
weights/
runs/
outputs/
logs/

*.sgy
*.segy
*.h5
*.hdf5
*.zarr
*.pt
*.pth
*.ckpt

*.zip
*.rar
*.7z

